/* The entry-dropdown rule uses the grid layout for the entry children and removes the default list style and makes its children stay within the bounds of the border radius. */
#entry-dropdown {
  display: none;
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: start;
  
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  border-radius: 0px 0px 12px 12px;
  overflow: auto;
  background-color: rgb(71 71 71 / 0.4);
}

/* The entry-dropdown li rule sets the appearance and layout of the list items. */
/* The entry-dropdown li rule sets the appearance and layout of the list items. */
.entry-dropdown li {
  position: relative;
  display: grid;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  transition: background 0.3s ease;
  grid-template-areas: "name last";
  grid-template-columns: 1fr 0.75fr;
  column-gap: 10px;
}

/* The entry-dropdown li div rule sets the flex property of the div within the list items. */
.entry-dropdown li div {
  flex: 1;
  display: fixed;
  flex-wrap: wrap;
}

/* The entry-dropdown li .timestamp rule sets the appearance and layout of the timestamp within the list items. */
.entry-dropdown li #entry-timestamp {
  margin-left: 100px;
  text-align: right;
  margin-right: 30px;
  place-self: center end;
}

/* The entry-dropdown li .title rule sets the layout of the title within the list items. */
.entry-dropdown li #entry-title {
  margin-left: 30px;
  margin-right: 30px;
  place-self: center start;
}

/* The entry-dropdown li:hover rule changes the background color of the list items when they're hovered over. */
.entry-dropdown li:hover {
  background: rgb(71, 71, 71);
}