html, body {
    margin: 0;
    padding: 0;
}

.section {
    height: 200vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.section1 {
    background: url('/src/assets/background_top_soil.svg'), url('/src/assets/background_sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    background: url('/src/assets/background_deep_ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*
background-container {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.levelOne {
    background-image: url('/src/assets/background_top_soil.svg'), url('/src/assets/background_sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
    margin: 0;
}

.levelTwo {
    background-image: url('/src/assets/background_deep_ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
    margin: 0;
}
*/
