html, body {
    margin: 0;
    padding: 0;
}

.section {
    height: 75vw;
    padding: 0;
    margin: 0;
}

.section1 {
    background: url('/src/assets/background_top_soil.svg'), url('/src/assets/background_sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.section2 {
    background: url('/src/assets/background_deep_ground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


@media screen and (max-width: 560px) {
    .section {
        height: 420px;
    }
}
