html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.background {
  height: 75vw;
  padding: 0;
  margin: 0;
}

/*Header Styling */
.top-section {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-areas: "logo search list";
  grid-template-columns: 75px auto 150px;
  column-gap: 20px;
  background-color: lightgrey;
  position: fixed;
  align-items: center;
  z-index: 2;
}

.search-container {
  margin: 20px 0;
  display: flex;
  color: white;
  justify-content: center;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border-width: 0px;
  background-color: rgb(71, 71, 71);
  color: white;
  opacity: 40%;
  border-radius: 12px;
  font-size: 16px;
  grid-area: search;
  /*box-sizing: border-box;*/
  margin-left: 25px;
  display: grid;
  
  
}

#logo {
  height: 60px;
  width:60px;
  padding-left: 35px;
  grid-area: logo;
}

.top-section button {
  background-color: #4d4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  place-self: center;
  transition: background-color 0.3s ease;
}

/*styling different sections of figma assets*/
.section1 {
  /* background: url('/src/assets/background_sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;*/
  position: relative;
  width: 100%;
  background-color: red;
  z-index: -2;
}

/*setting area of sky asset to take up entire div*/
.section1 img {
  width: 100%;
}

/*styling top soil*/
.section3 {
  /*margin-top: -65%;
    background: url('/src/assets/background_top_soil.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;*/
  position: relative;
  margin-top: -65%;
}

#pot {
  position: absolute;
  right: 40rem;
  top: 24%;
  z-index: -1;
}

#watering-can {
  position: absolute;
  right: 18rem;
  top: 23%;
  z-index: -1;
}

/*area of lower soil*/
.section2 {
  background: url("../assets/background_deep_ground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media screen and (max-width: 560px) {
  .background {
    height: 420px;
  }
}
